<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/assets/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <script src="/assets/question.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker|Acme">
    <script src="https://app.enzuzo.com/apps/enzuzo/static/js/__enzuzo-cookiebar.js?uuid=8cdb4a0e-fad7-11ed-9baa-ab669a2e60bb"></script>
    
</head>
<body>
<h class="webpageName">Wonders of the World Wide Web</h>
<h class="slogan">World Wide Web Wide Webpage!</h>
<% if (typeof(session) != "string") { %>
<a id="register" href="/register">Sign up (for real this time)</a>
<a id="logIn" href="/login">Log in?</a>
<div id="start">Sign up!</div>
<div id="captcha">Captcha All Humans™</div>
<% } else {%>
<a id="logout" href="/logout">Logout</a>
<div id="welcome">Hahaha welcome, you can do whatever you want now!</div>
    <% } %>
<div class="question" id="query1"></div>
<div class="question" id="query2"></div>
<div  class="question" id="query3"></div>
<div class="question" id="queryQuick"></div>
<div class="speech"></div>
<btn class="speak">talk</btn>
<div id="fLevel"></div>
<div id="gMeter"></div>
<div id="sBarometer"></div>
<img id="beast" src="/assets/possum.png">
<img id="piece" src="/assets/pngegg.png">
</body>
</html>