<link rel="stylesheet" type="text/css" href="/assets/style.css">
<h1>REGISTER NOW!!!</h1>
  
<form class="forms" action="/register" method="POST">
    <input class="userInput" type="text" name="username" 
        placeholder="username">
    <input class="userInput" type="password" name="password" 
        placeholder="password">
    <button class="userInput">Submit</button>
</form>
  